.cis-wrapper {
   > .row {
      > div {
         padding: 0;
         margin: 0 auto;
         img {
            width: 100%;
            height: auto;
            margin-bottom: 70px;
         }
      }
   }
   > .row:nth-last-of-type(1) div img {
      margin-bottom: 0;
   }
}

@media (max-width: 992px) {
   .cis-wrapper {
      > .row {
         > div {
            img {
               margin-bottom: $main-space2;
            }
         }
      }
   }
}

@media (max-width: 576px) {
   .cis-wrapper {
      > .row {
         > div {
            img {
               margin-bottom: $main-space1;
            }
         }
      }
   }
}
