footer {
   text-align: center;
   padding: 50px 0 20px;
   letter-spacing: 0.75px;
   white-space: nowrap;
}
.footer-logo > a {
   display: block;
   margin-bottom: 10px;
}
.footer-logo > a > img {
   width: 45px;
   height: auto;
}
@media (max-width: 576px) {
   footer > small {
      font-size: 0.75rem;
   }
}
@media (max-width: 320px) {
   footer > small {
      font-size: 0.6rem;
   }
}
