// menu button setting
.three {
   padding: 12px 15px;
   text-align: center;
   box-sizing: content-box;
}
.hamburger .line {
   width: 35px;
   height: 3px;
   background-color: #fff;
   display: block;
   margin: 8px auto;
   transition: all 0.3s ease-in-out;
}

.hamburger:hover {
   cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
   opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
   transform: translateY(11px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
   transform: translateY(-11px) rotate(-45deg);
}

// menu setting
.menuContainer {
   height: 100vh;
   position: fixed;
   z-index: 9;
   right: -100%;
   top: 0;
   padding: 0;
   transition: 0.7s;
   visibility: hidden;
   &.show {
      right: 0;
      visibility: visible;
   }
   > .container-fluid {
      height: 100%;
      position: relative;
      padding: 0;
      overflow: hidden;
      .menuUl {
         background-color: $most-light-pink;
         width: 320px;
         height: 100%;
         padding: 100px 0 0 $main-space2;
         float: right;
         > li {
            font-size: $rwd-h2Size2;
            line-height: $lineheight-content1;
            margin: 15px 0;
            position: relative;
            z-index: 2;
            a {
               display: inline-block;
               color: $main-black;
               text-transform: capitalize;
               font-family: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               position: relative;
               span {
                  @extend %highlight;
                  transition: 0.5s;
                  &.yellowBlock {
                     width: 100%;
                  }
               }
            }
            li {
               float: left;
               a img {
                  width: 20px;
               }
            }
         }
         li li:first-of-type {
            margin-right: $main-space1;
         }
      }
   }
   .icon-list {
      overflow: hidden;
   }
}

//------------------------------選單按鈕 setting
.navbarWrapper {
   width: 65px;
   height: 65px;
   padding: 0;
   display: inline-block;
   top: 0;
   right: 0;
   position: fixed;
   z-index: 10;
   background-color: $main-pink;
   background-repeat: no-repeat;
   background-size: contain;
}
@media (max-width: 768px) {
   .menuContainer > .container-fluid .menuUl {
      padding: 100px 0;
      width: 100%;
      max-width: none;
   }
   .menuContainer .menuUl li {
      text-align: center;
   }
   .menuContainer > .container-fluid .menuUl > li li {
      float: none;
   }
   .icon-list {
      display: flex;
      justify-content: center;
   }
}
