$rwd-h2Size1: 2rem;
$rwd-h2Size2: 1.5rem;
$letter-spacing: 1.8px;
$letter-spacing2: 1.2px;
$lineheight-content1: 2;
$content-size2: 0.875rem;
$main-pink: #ff7bac;
$light-pink: lighten($main-pink, 15%);
$most-light-pink: lighten($main-pink, 20%);
$main-halfpink: #ffeff4;
$main-yellow: #ffff96;
$main-black: #323232;
$appGreen: #37b9b4;
$appPurple: #8ca0c8;
$appPink: #f0827d;
$appYellow: #f8c82c;
$main-h2Size: 2.2rem;
$main-space1: 30px;
$main-space2: 50px;
