.card,
.card-img,
.card-img-top {
   border-radius: 0px;
}
.card-columns {
   padding: 0;
   margin: 0 auto;
   -webkit-column-count: 2;
   -moz-column-count: 2;
   column-count: 2;
   .card {
      margin-bottom: 30px;
   }
   .card:nth-last-of-type(1) {
      margin-bottom: 0;
   }
}
@media (max-width: 768px) {
   .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
   }
}
