* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  position: relative;
  background-color: #fff;
  color: #323232;
}

body.myCursor,
html.myCursor {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

p {
  margin: 30px 0 50px;
  line-height: 2;
  letter-spacing: 1.2px;
}

.row {
  margin: 0;
}

body {
  position: relative;
}

.p0 {
  padding: 0;
}

p.introP {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

h2.pageTitle {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

h2.pageTitle span {
  font-family: 'Karla', serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 1.8px;
  display: inline-block;
  color: #fff;
  background-color: #faa5af;
  padding: 3px 18px 5px;
}

section > .container {
  padding-bottom: 50px;
}

.wrapper {
  padding-bottom: 70px;
}

.contentContainer {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-top: 50px;
}

.contentContainer .contentTitle {
  letter-spacing: 1.2px;
}

.contentContainer .contentTitle + p {
  text-align: center;
}

.contentContainer .contentTitle .projectDetail,
.contentContainer .contentTitle .projectName_ch {
  text-align: center;
}

.contentContainer .projectDetail:nth-of-type(1) {
  margin-top: 30px;
  line-height: 2;
}

.projectName_ch {
  text-align: center;
  margin-bottom: 30px;
}

.menuContainer > .container-fluid .menuUl > li a span, .worklist #filter button span {
  width: 0%;
  height: 15px;
  display: block;
  background-color: #ffff96;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

.slick-prev, .slick-next {
  text-indent: -9999px;
  letter-spacing: 1.2px;
  padding: 5px 20px;
  color: #faa5af;
  background-color: #faa5af;
  border: 2.5px solid #faa5af;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
  position: absolute;
  z-index: 3;
  bottom: 0;
  cursor: pointer;
}

.slick-prev {
  background-image: url(../../image/common/left-arrow.svg);
  right: 50px;
}

.slick-next {
  background-image: url(../../image/common/right-arrow.svg);
  right: 0;
}

@media (max-width: 992px) {
  .wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  section > .container,
  section [class^='col'] {
    padding-left: 0;
    padding-right: 0;
  }
  h2.pageTitle span {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .projectName_ch {
    font-size: 1.5rem;
  }
  .projectDetail,
  p {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  h2.pageTitle span {
    font-size: 1.5rem;
  }
  .wrapper {
    padding-bottom: 30px;
  }
}

footer {
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 0.75px;
  white-space: nowrap;
}

@media (max-width: 576px) {
  footer > small {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
  footer > small {
    font-size: 0.6rem;
  }
}

.button:hover,
.flower > img,
.worklist .listItem a:hover,
#filter button a,
#filter button,
.page-link:not(:disabled):not(.disabled),
.card-img {
  cursor: pointer;
}

.buttonWrapper .button span, .gallery .item h3 span {
  width: 25px;
  height: 2.5px;
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
  background-color: #323232;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.buttonWrapper .button .after, .gallery .item h3 span {
  margin-left: 15px;
}

.buttonWrapper .button .after::after, .gallery .item h3 span::after {
  right: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 2px;
}

.buttonWrapper .button .after::after,
.buttonWrapper .button .before::before, .gallery .item h3 span::after {
  content: '';
  display: inline-block;
  background-color: #323232;
  width: 12px;
  height: 2.5px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.buttonWrapper {
  text-align: center;
  margin: 50px auto 30px;
}

.buttonWrapper .button {
  letter-spacing: 1.2px;
  padding: 5px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  color: #323232;
  text-transform: capitalize;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(64%, #fff), color-stop(65%, #323232), to(#323232));
  background-image: linear-gradient(to right, #fff, #fff 64%, #323232 65%, #323232);
  background-size: 300%;
  border: 2.5px solid #323232;
}

.buttonWrapper .button:hover {
  color: #fff !important;
  background-position: right center;
}

.buttonWrapper .button .before {
  margin-right: 15px;
}

.buttonWrapper .button .before::before {
  left: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}

.buttonWrapper .button:hover span,
.buttonWrapper .button:hover .after::after,
.buttonWrapper .button:hover .before::before {
  background-color: #fff;
}

@media (max-width: 600px) {
  .button span, .gallery .item h3 span {
    height: 2px;
  }
  .button .after::after, .gallery .item h3 .after::after {
    height: 2px;
    right: -12px;
  }
  .button {
    font-size: 0.875rem;
    padding: 10px 15px;
    border: 2px solid #323232;
  }
}

.appGreen .button {
  border-color: #37b9b4 !important;
  color: #37b9b4 !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(64%, #fff), color-stop(65%, #37b9b4), to(#37b9b4)) !important;
  background-image: linear-gradient(to right, #fff, #fff 64%, #37b9b4 65%, #37b9b4) !important;
}

.appGreen .button .after::after,
.appGreen .button span {
  background-color: #37b9b4 !important;
}

.appPurple .button {
  border-color: #8ca0c8 !important;
  color: #8ca0c8 !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(64%, #fff), color-stop(65%, #8ca0c8), to(#8ca0c8)) !important;
  background-image: linear-gradient(to right, #fff, #fff 64%, #8ca0c8 65%, #8ca0c8) !important;
}

.appPurple .button .after::after,
.appPurple .button span {
  background-color: #8ca0c8 !important;
}

.appPink .button {
  border-color: #f0827d !important;
  color: #f0827d !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(64%, #fff), color-stop(65%, #f0827d), to(#f0827d)) !important;
  background-image: linear-gradient(to right, #fff, #fff 64%, #f0827d 65%, #f0827d) !important;
}

.appPink .button .after::after,
.appPink .button span {
  background-color: #f0827d !important;
}

.appYellow .button {
  border-color: #f8c82c !important;
  color: #f8c82c !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(64%, #fff), color-stop(65%, #f8c82c), to(#f8c82c)) !important;
  background-image: linear-gradient(to right, #fff, #fff 64%, #f8c82c 65%, #f8c82c) !important;
}

.appYellow .button .after::after,
.appYellow .button span {
  background-color: #f8c82c !important;
}

.outContainer {
  position: relative;
  padding: 0;
}

#childrenScroll {
  padding: 0 15px;
  margin: 0;
  overflow: hidden;
  top: 0 !important;
  background-image: url(../../image/common/wall3.jpg);
  background-size: 500px 500px;
  height: 600px !important;
  width: 100% !important;
}

.children {
  position: relative;
  height: 100%;
}

.children img {
  width: 100%;
  height: auto;
}

.children .commonRow {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.children .frame {
  position: relative;
}

.children .frame > .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.children .frame .col-lg-8 > img {
  -webkit-filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.3));
}

.children .frame .row .row {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
}

.children .plant {
  position: absolute;
  left: 23%;
  bottom: -10%;
  z-index: 1;
}

.children .plant img {
  -webkit-filter: drop-shadow(15px 5px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(15px 5px 2px rgba(0, 0, 0, 0.3));
}

.children .lamp {
  position: absolute;
  right: 15%;
  top: -5%;
  z-index: 1;
}

.children .lamp img {
  -webkit-filter: drop-shadow(7px 6px 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(7px 6px 2px rgba(0, 0, 0, 0.15));
}

.children .lamp::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../image/common/light.png) center no-repeat;
  background-size: contain;
  -webkit-animation: lightAni 1.5s ease-in-out infinite alternate;
          animation: lightAni 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes lightAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lightAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrollmagic-pin-spacer {
  min-height: 0px !important;
  height: 600px !important;
}

@media (max-width: 1200px) {
  #childrenScroll,
  .scrollmagic-pin-spacer {
    height: 450px !important;
  }
}

@media (max-width: 992px) {
  .children .plant {
    left: 10%;
    bottom: -15%;
  }
  .children .lamp {
    right: 8%;
    top: 0%;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .children .plant {
    bottom: -10%;
    left: 5%;
  }
}

@media (max-width: 450px) {
  #childrenScroll,
  .scrollmagic-pin-spacer {
    height: 50vh !important;
  }
  .children .frame .row .row {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  #childrenScroll,
  .scrollmagic-pin-spacer {
    height: 40vh !important;
  }
  .children .frame .row .row {
    padding: 15px;
  }
}

.menuContainer {
  height: 100vh;
  position: fixed;
  z-index: 9;
  background-color: #fff;
  right: -100%;
  top: 0;
  padding: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  visibility: hidden;
}

.menuContainer.show {
  right: 0;
  visibility: visible;
}

.menuContainer > .container-fluid {
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.menuContainer > .container-fluid .menuPattern {
  width: 70%;
  height: 100vh;
  float: left;
  position: relative;
  background-color: #fff;
}

.menuContainer > .container-fluid .menuPattern [class^='pattern'] {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 100px 100px;
  background-position: 0 0;
  position: absolute;
  -webkit-animation: menuAni 12s linear infinite;
          animation: menuAni 12s linear infinite;
}

.menuContainer > .container-fluid .menuPattern [class^='pattern'].showPattern {
  -webkit-animation: menuAni 12s linear infinite;
          animation: menuAni 12s linear infinite;
}

.menuContainer > .container-fluid .menuPattern .pattern1 {
  background-image: url(../../image/menu/menuPatternCircle.jpg);
  z-index: 2;
}

.menuContainer > .container-fluid .menuPattern .pattern2 {
  background-image: url(../../image/menu/menuPatternX.jpg);
}

.menuContainer > .container-fluid .menuPattern .pattern3 {
  background-image: url(../../image/menu/menuPatternSquare3.jpg);
}

.menuContainer > .container-fluid .menuPattern .pattern4 {
  background-image: url(../../image/menu/cube_unit.jpg);
  background-size: 75px 130px;
}

.menuContainer > .container-fluid .menuUl {
  width: 30%;
  height: 100%;
  padding: 100px 0 0 50px;
  float: left;
}

.menuContainer > .container-fluid .menuUl > li {
  font-size: 1.5rem;
  line-height: 2;
  margin: 15px 0;
}

.menuContainer > .container-fluid .menuUl > li a {
  display: inline-block;
  color: #323232;
  text-transform: capitalize;
  font-family: 'Karla', serif;
  position: relative;
}

.menuContainer > .container-fluid .menuUl > li a span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menuContainer > .container-fluid .menuUl > li a span.yellowBlock {
  width: 100%;
}

.menuContainer > .container-fluid .menuUl > li li {
  float: left;
  margin-right: 30px;
}

.menuContainer > .container-fluid .menuUl > li li a img {
  width: 20px;
}

@-webkit-keyframes menuAni {
  0% {
  }
  100% {
    background-position: -1200px -1300px;
  }
}

@keyframes menuAni {
  0% {
  }
  100% {
    background-position: -1200px -1300px;
  }
}

.navbarWrapper {
  width: 300px;
  padding: 0;
  display: inline-block;
  right: 0;
  position: fixed;
  z-index: 10;
}

.navbarWrapper #pinkBlock {
  position: absolute;
  top: -12px;
  right: -5px;
  width: 240px;
  height: 96px;
}

.navbarWrapper .flower {
  position: absolute;
  right: 15px;
  text-align: right;
  display: inline-block;
  margin-top: 11px;
}

.navbarWrapper .flower > img {
  width: 47%;
  height: 47%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.navbarWrapper .flower > img.rotateflower {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

@media (max-width: 992px) {
  .menuContainer > .container-fluid .menuPattern {
    width: 65%;
  }
  .menuContainer > .container-fluid .menuUl {
    width: 35%;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .navbarWrapper #pinkBlock {
    top: -25px;
    right: -20px;
  }
  .navbarWrapper .flower > img {
    width: 40%;
    height: 40%;
  }
}

@media (max-width: 768px) {
  .menuContainer > .container-fluid .menuPattern {
    width: 20%;
  }
  .menuContainer > .container-fluid .menuUl {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .navbarWrapper #pinkBlock {
    top: -40px;
    right: -47px;
  }
  .navbarWrapper .flower > img {
    width: 30%;
    height: 30%;
    margin-right: -5px;
    margin-top: -2.5px;
  }
}

[aria-label='Page navigation example'] {
  padding-bottom: 15px;
}

.page-item:not(.pageIcon) a {
  border: none;
}

.page-link {
  color: #323232;
  border-color: #fff;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-link:hover {
  border-color: #fff;
  color: #323232;
  background-color: #fff;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
  padding: 10px 15px;
  background-image: none;
  background-color: #fff;
}

.page-item:first-child .page-link {
  margin-right: 50px;
}

.page-item:last-child .page-link {
  margin-left: 50px;
}

.page-item:first-child [aria-hidden='true']::before,
.page-item:last-child [aria-hidden='true']::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
}

.page-item:first-child [aria-hidden='true']::before {
  background-image: url(../../image/common/left_arrow_black.svg);
}

.page-item:last-child [aria-hidden='true']::after {
  background-image: url(../../image/common/black_right_arrow.svg);
}

.worklist h2.pageTitle {
  margin-bottom: 20px;
}

.worklist .filterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.worklist #filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.worklist #filter button {
  border: none;
  background-color: #fff;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin: 0 20px;
  position: relative;
  z-index: 1;
}

.worklist #filter button span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.worklist #filter button a {
  color: #323232;
}

.worklist #filter button:hover span {
  width: 100%;
}

.worklist .listItem {
  width: 30%;
  margin: 0 1.5% 3%;
  border: 3px solid rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.worklist .listItem:hover {
  border: 3px solid #faa5af;
}

.worklist .listItem:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.worklist .listItem a {
  display: inline-block;
}

.worklist .listItem img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .worklist .listItem {
    width: 47%;
    margin-bottom: 15px;
  }
  .worklist .filterContent {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .worklist .filterContainer {
    width: 35%;
    display: inline-block;
    position: fixed;
    text-align: left;
  }
  .worklist .filterContainer #filter {
    display: block;
  }
  .worklist .filterContainer #filter button {
    margin: 0 0 8px 0;
    font-size: 0.875rem;
    display: block;
  }
  .worklist .filterContent {
    width: 62%;
    display: inline-block;
    margin-left: 38%;
  }
  .worklist .filterContent .listItem {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .worklist .p0 {
    position: relative;
  }
  .page-item:first-child .page-link {
    margin-right: 15px;
    padding: 5px 7px;
  }
  .page-item:last-child .page-link {
    margin-left: 15px;
    padding: 5px 7px;
  }
}

@media (max-width: 600px) {
  .worklist .filterContent {
    margin-bottom: 30px;
  }
}

.card,
.card-img,
.card-img-top {
  border-radius: 0px;
}

.card-columns {
  padding: 0;
  margin: 0 auto;
  -webkit-column-count: 2;
  column-count: 2;
}

.card-columns .card {
  margin-bottom: 30px;
}

.card-columns .card:nth-last-of-type(1) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.linebird .wrapper {
  margin: 0 auto;
  padding: 0 0 70px 0;
}

.linebird .wrapper > div.col-6 {
  margin-bottom: 30px;
}

.linebird .wrapper > div.col-6:nth-of-type(n + 13) {
  margin-bottom: 0;
}

.linebird .wrapper > div:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.linebird .wrapper > div > div {
  overflow: hidden;
  cursor: pointer;
}

.linebird .wrapper > div > div img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.linebird .introP {
  padding: 0;
  text-align: center;
  margin: 30px auto 0;
}

.linebird .introP:nth-of-type(2) {
  margin: 0 auto 50px;
}

@media (max-width: 992px) {
  .linebird .wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .linebird .wrapper {
    padding-bottom: 30px;
  }
}

.product-wrapper {
  padding-top: 150px;
}

.product-wrapper img {
  width: 100%;
  height: auto;
}

.product-wrapper .carousel {
  margin: 0 auto;
  padding: 0;
}

.product-wrapper .carousel .row .detailTxt {
  padding-top: 30px;
}

.product-wrapper .carousel .row .detailTxt.bigger600 {
  padding-left: 30px;
}

.product-wrapper .carousel .row .detailTxt.smaller600 {
  padding-left: 0;
  text-align: center;
}

.lastRow {
  margin-top: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lastRow .slogan p {
  font-family: 'Lobster', cursive;
  font-size: 3.75rem;
  text-align: center;
}

.lastRow .slogan,
.lastRow > div:nth-of-type(2) {
  padding: 0;
}

@media (max-width: 992px) {
  .lastRow .slogan p {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .lastRow .slogan p {
    font-size: 2rem;
  }
}

@media (max-width: 768px) and (min-width: 767px) {
  .slick-prev.slick-prev {
    left: auto;
    right: 50px;
  }
  .slick-next.slick-next {
    left: auto;
    right: 0px;
  }
}

@media (max-width: 768px) and (min-width: 614px) {
  .product-wrapper .carousel .row .detailTxt.bigger600 {
    padding-top: 0;
  }
  .slick-prev,
  .slick-next {
    right: auto;
    bottom: 46px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    left: 45px;
  }
}

@media (max-width: 614px) {
  .slick-prev,
  .slick-next {
    left: 50%;
  }
  .slick-prev {
    -webkit-transform: translateX(calc(-50% - 27.5px)) translateY(15px);
            transform: translateX(calc(-50% - 27.5px)) translateY(15px);
  }
  .slick-next {
    -webkit-transform: translateX(calc(-50% + 27.5px)) translateY(15px);
            transform: translateX(calc(-50% + 27.5px)) translateY(15px);
  }
}

@media (max-width: 600px) {
  .product-wrapper {
    padding-top: 100px;
  }
  .product-wrapper .pageSliderTitle {
    font-size: 1.25rem;
  }
  .product-wrapper .pageSliderTitle + p {
    margin-top: 20px;
  }
  .lastRow {
    margin-top: 150px;
  }
  .lastRow .slogan p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .lastRow .slogan p {
    font-size: 1.25rem;
  }
}

.tabContainer {
  height: 500px;
  padding-top: 30px;
  position: relative;
  margin-bottom: 150px;
}

.tabContainer .tab-pane {
  position: relative;
}

.tabContainer .tab-pane .buttonWrapper .button {
  width: 100%;
  display: block;
}

.tab-pane .button:hover .after,
.tab-pane .button:hover .after::after {
  background-color: #fff !important;
}

.tab-pane .button:hover {
  color: #fff !important;
}

.tabRow .col-xl-5 {
  position: relative;
  left: 15%;
}

.tabcontent .pageSliderTitle {
  margin-top: 30px;
}

.tabGallery {
  display: none;
}

.demoImg {
  display: block;
  width: 65%;
  height: 500px;
  position: absolute;
  top: -40%;
  right: calc(-65% - 30px);
  text-align: center;
}

.walkIconWrapper img,
.demoImg img {
  width: 100%;
  height: auto;
}

.nav-item img {
  width: 25px;
  height: auto;
}

.col-xl-1 {
  padding: 0;
}

.showImgMobile {
  text-align: center;
}

.showImgMobile img {
  width: 85%;
  height: auto;
}

.videoWrapper {
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  border: 4px solid #fff;
}

.colorPlan {
  margin-bottom: 200px;
}

.colorPlan .col-xl-10 {
  margin: 0 auto;
}

.colorPlan .colorRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colorPlan .colorWrapper {
  margin-top: 50px;
}

.colorPlan .colorWrapper > div {
  margin-bottom: 20px;
}

.colorPlan .color {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.colorPlan .colorTxt {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  display: inline-block;
}

.colorPlan .colorWrapper > div:nth-of-type(1) .color {
  background-color: #f0c3c8;
}

.colorPlan .colorWrapper > div:nth-of-type(2) .color {
  background-color: #f0827d;
}

.colorPlan .colorWrapper > div:nth-of-type(3) .color {
  background-color: #f8c82c;
}

.colorPlan .colorWrapper > div:nth-of-type(4) .color {
  background-color: #8ca0c8;
}

.colorPlan .colorWrapper > div:nth-of-type(5) .color {
  background-color: #37b9b4;
}

.walkIconWrapper {
  margin-top: 30px;
}

.walkIcon {
  width: 15%;
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .tabRow .col-xl-5 {
    position: relative;
    left: 12.5%;
  }
}

@media (max-width: 768px) {
  .wireframe p {
    width: 70%;
  }
  .colorPlan .colorWrapper > div {
    text-align: center;
  }
  .walkIconWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .walkIcon {
    margin: 0 7.5px;
  }
  .demoImg {
    display: none;
  }
  .tabContainer {
    padding-top: 0;
    height: auto;
  }
  .tabRow .col-xl-5 {
    left: 0;
  }
  .showMobileWrapper {
    margin-bottom: 65px;
  }
  .nav-item:nth-of-type(1) {
    margin-left: auto;
  }
  .nav-item:nth-of-type(4) {
    margin-right: auto;
  }
  .tabcontent .pageSliderTitle {
    text-align: center;
  }
}

@media (max-width: 769px) and (min-width: 768px) {
  .colorPlan .colorWrapper > div {
    text-align: left;
  }
  .walkIconWrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .walkIcon {
    margin: 0 15px 0 0;
  }
  .demoImg {
    display: block;
  }
  .tabContainer {
    padding-top: 50px;
    height: 500px;
    margin-bottom: 0;
  }
  .tabRow .col-xl-5 {
    left: 12.5%;
  }
  .nav-item:nth-of-type(1) {
    margin-left: 0;
  }
  .nav-item:nth-of-type(4) {
    margin-right: 0;
  }
  .tabcontent .pageSliderTitle {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .wireframe {
    margin-bottom: 150px;
  }
  .colorRow .col-xl-6 {
    padding: 0;
  }
  .walkIcon {
    margin: 0 5px;
  }
  .colorTxt {
    font-size: 0.875rem;
  }
}

@media (max-width: 320px) {
  .nav-link {
    padding: 8px 12px;
  }
}

.cis-wrapper > .row > div {
  padding: 0;
  margin: 0 auto;
}

.cis-wrapper > .row > div img {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.cis-wrapper > .row:nth-last-of-type(1) div img {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .cis-wrapper > .row > div img {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .cis-wrapper > .row > div img {
    margin-bottom: 30px;
  }
}

:focus {
  outline: none;
}

.contentTitle {
  margin-bottom: 30px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  width: 100%;
  margin-bottom: 30px;
}

.gallery-top img {
  width: 100%;
}

.gallery-thumbs {
  height: 20vh;
  max-height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.gallery-thumbs:hover .swiper-slide {
  cursor: pointer;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.ba-slider .handle {
  background-color: #faa5af;
}

@media (orientation: landscape) {
  .gallery-thumbs .swiper-slide {
    border-right: 1px solid #eee;
  }
}

@media (max-width: 600px) {
  .gallery-top {
    margin-bottom: 15px;
  }
  .gallery-thumbs {
    height: 10vh;
  }
}

:root {
  --frameW: 90%;
  --gutter: 15px;
}

.gallery {
  min-height: 100vh;
  background-image: url(../../image/gallery/bg.jpg);
  background-repeat: repeat;
  background-size: 365px 271px;
  overflow-x: hidden;
}

.gallery h2.pageTitle {
  margin-bottom: 30px;
}

.gallery .wrapper .item:nth-of-type(1) {
  margin-right: auto;
}

.gallery .wrapper .item:nth-of-type(2) {
  margin-left: auto;
}

.gallery .item {
  position: relative;
  text-align: center;
  z-index: 1;
}

.gallery .item .frame {
  width: var(--frameW);
  -webkit-box-shadow: 7px 3px 10px rgba(51, 51, 51, 0.5);
          box-shadow: 7px 3px 10px rgba(51, 51, 51, 0.5);
}

.gallery .item .row {
  position: absolute;
  left: calc(50% - var(--gutter));
  top: calc(50% - var(--gutter));
  -webkit-transform: translate(calc(-50% + var(--gutter)), calc(-50% - var(--gutter) * 1.5));
          transform: translate(calc(-50% + var(--gutter)), calc(-50% - var(--gutter) * 1.5));
  width: calc(var(--frameW) - var(--gutter) * 2);
}

.gallery .item .picture img {
  width: calc(var(--frameW) - var(--gutter) * 2);
}

.gallery .item h3 {
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery .item h3 a {
  color: #323232;
  font-size: 1.75rem;
  font-family: 'Source Serif Pro', serif;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.gallery .item h3 span {
  margin-bottom: 0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.gallery .item h3:hover {
  cursor: pointer;
}

.gallery .item h3:hover span {
  width: 40px;
}

.gallery .item::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery .item:nth-of-type(1)::after {
  background-image: url(../../image/gallery/left_pattern.png);
  left: -25px;
  top: -55px;
  width: 110%;
  height: 120%;
}

.gallery .item:nth-of-type(2)::after {
  background-image: url(../../image/gallery/right_pattern.png);
  right: -50px;
  bottom: -40px;
  width: 80%;
  height: 60%;
}

@media (orientation: portrait) {
  .gallery .item:nth-of-type(1) {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .gallery .item h3 a {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .gallery .item:nth-of-type(1)::after {
    width: 60%;
    top: 20px;
  }
  .gallery .item:nth-of-type(2)::after {
    bottom: -30px;
  }
  .gallery .item:nth-of-type(2) .row {
    -webkit-transform: translate(calc(-50% + var(--gutter)), calc(-50% - var(--gutter) * 2.5));
            transform: translate(calc(-50% + var(--gutter)), calc(-50% - var(--gutter) * 2.5));
  }
}
